{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title>Notes App</title>
</head>
<body>
    {% if user.is_authenticated %}
        <header class="header">
            <strong class="header--username">Current User: {{username}}</strong>
            <a href="/signout"><button class="header--logout" type="submit">Sign Out</button></a>
        </header>
        <a href="/addnote" class="add--note--button">
            <button type="submit">Add Note</button>
        </a>
        <div class="page--content">
            <div class="note--container">
                {% for note in list_of_notes %}
                    <div class="grid--item">
                        <h3 class="grid--item--title">{{note.title}}</h3>
                        <h5 class="grid--item--content">{{note.content|truncatechars:30}}</h5>
                        <div class="grid--item--buttons">
                            <a href="{% url 'notes:delete' note.id %}">
                                <button type="submit">Delete Note</button>
                            </a>
                            <a href="{% url 'notes:detail' note.id %}">
                                <button type="submit">View Note</button>
                            </a>
                            <a href="{% url 'notes:update' note.id %}">
                                <button type="submit">Update this Note</button>
                            </a>
                        </div>      
                        <br>
                        <br>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    {% else %}
    <div class="login--page">
        <div class="login--box">
            {% if error %}
            <header class="error--header">
                <strong class="error--header--message">Error: {{error}}</strong>
            </header>
            {% endif %}
            <h3>Welcome to my Django Notes App</h3>
            <div class="login--box--buttons">
                <a href="/signup">
                    <button type="submit">Sign Up</button>
                </a>
                <a href="/signin">
                    <button type="submit">Sign In</button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</body>
</html>