{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
    <title>SignIn Page</title>
</head>
<body>
    <div class="page--content">
        <div class="signin--page">
            <div class="signin--box">
                <form action="/signin" method="post" class="signin--form">
                    {% csrf_token %}
                        <h3>Sign In to my Django Notes App</h3>
                        <label for="username" class="label">Username: </label>
                        <input type="text" id="username" name="username" placeholder="Enter your username" required>
                        <br>
                        <label for="pass1" class="label">Password: </label>
                        <input type="password" id="pass1" name="pass1" placeholder="Enter your password" required> <br> <br>
                        <br>
                        <button type="submit" class="signin--button">Sign In! </button>
                </form>
            </div>
        </div>
    </div>
    
    
</body>
</html>